<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/slimselect.css">
	<link rel="stylesheet" href="css/admin.css">
	<script src="../js/logout.js"></script>
	<!-- Icon font -->
	<link rel="stylesheet" href="webfont/tabler-icons.min.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="icon/favicon-32x32.png">

	<meta name="description" content="Online Movies, TV Shows & Cinema HTML Template">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>ReelPlay– Online Movies, TV Shows & Cinema </title>
</head>

<body>
<!-- header -->
<header class="header">
	<div class="header__content">
		<!-- header logo -->
		<a href="index.html" class="header__logo">
			<img src="img/logo.svg" alt="">
		</a>
		<!-- end header logo -->

		<!-- header menu btn -->
		<button class="header__btn" type="button">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<!-- end header menu btn -->
	</div>
</header>
<!-- end header -->

<!-- sidebar -->
<div class="sidebar">
	<!-- sidebar logo -->
	<a href="index.html" class="sidebar__logo">
		<img src="img/logo.svg" alt="">
	</a>
	<!-- end sidebar logo -->

	<!-- sidebar user -->
	<div class="sidebar__user">
		<div class="sidebar__user-img">
			<img src="img/user.svg" alt="">
		</div>

		<div class="sidebar__user-title">
			<span>Admin</span>
		</div>

		<button class="sidebar__user-btn" type="button" onclick="logout()">
			<i class="ti ti-logout"></i>
		</button>
	</div>
	<!-- end sidebar user -->

	<!-- sidebar nav -->
	<div class="sidebar__nav-wrap">
		<ul class="sidebar__nav">
			<li class="sidebar__nav-item">
				<a href="/admin/index" class="sidebar__nav-link sidebar__nav-link--active"><i class="ti ti-layout-grid"></i> <span>Dashboard</span></a>
			</li>

			<li class="sidebar__nav-item">
				<a href="/admin/movie" class="sidebar__nav-link "><i class="ti ti-movie"></i> <span>Movies</span></a>
			</li>

			<li class="sidebar__nav-item">
				<a href="/admin/user" class="sidebar__nav-link"><i class="ti ti-users"></i> <span>Users</span></a>
			</li>

			<li class="sidebar__nav-item">
				<a href="/admin/actor" class="sidebar__nav-link"><i class="ti ti-users-minus"></i> <span>Actors</span></a>
			</li>

			<li class="sidebar__nav-item">
				<a href="/admin/director" class="sidebar__nav-link"><i class="ti ti-users-minus"></i> <span>Directors</span></a>
			</li>
			<li class="sidebar__nav-item">
				<a href="/admin/episode" class="sidebar__nav-link"><i class="ti ti-badge-hd"></i> <span>Episodes</span></a>
			</li>


			<!-- end dropdown -->

			<li class="sidebar__nav-item">
				<a href="/index" class="sidebar__nav-link"><i class="ti ti-arrow-left"></i> <span>Back to ReelPlay</span></a>
			</li>
		</ul>
	</div>
	<!-- end sidebar nav -->

	<!-- sidebar copyright -->
	<!-- end sidebar copyright -->
</div>
	<!-- end sidebar -->

	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<!-- main title -->
				<div class="col-12">
					<div class="main__title">
						<h2>Dashboard</h2>

						<a href="/admin/add-movie" class="main__title-link">add item</a>
					</div>
				</div>
				<!-- end main title -->

				<!-- stats -->
				<div class="col-12 col-sm-6 col-xl-3">
					<div class="stats">
						<span>Total movies</span>
						<!-- or .red -->
						<p id="total-movies"> </p>
						<i class="ti ti-movie"></i>
					</div>
				</div>
				<!-- end stats -->

				<!-- stats -->
				<div class="col-12 col-sm-6 col-xl-3">
					<div class="stats">
						<span>Total Views</span>
						<p id="total-views"> </p>
						<i class="ti ti-eye"></i>
					</div>
				</div>
				<!-- end stats -->

				<!-- stats -->
				<div class="col-12 col-sm-6 col-xl-3">
					<div class="stats">
						<span>Total Rates</span>
						<p id="total-rates"></p>
						<i class="ti ti-star-half-filled"></i>
					</div>
				</div>
				<!-- end stats -->

				<!-- stats -->
				<div class="col-12 col-sm-6 col-xl-3">
					<div class="stats">
						<span>Total Users</span>
						<p id="total-users"> </p>
						<i class="ti ti-users"></i>
					</div>
				</div>
				<!-- end stats -->
			</div>

			<div class="row">
				<!-- dashbox -->
				<div class="col-12 col-xl-6">
					<div class="dashbox">
						<div class="dashbox__title">
							<h3><i class="ti ti-trophy"></i> Top rates</h3>
						</div>

						<div class="dashbox__table-wrap dashbox__table-wrap--1">
							<table  class="dashbox__table">
								<thead>
									<tr>
										<th>ID</th>
										<th>TITLE</th>
<!--										<th>CATEGORY</th>-->
										<th>RATING</th>
										<th>VIEW</th>
									</tr>
								</thead>

								<tbody id="rate-table">
									<tr>
										<td>
											<div class="dashbox__table-text dashbox__table-text--grey">241</div>
										</td>
										<td>
											<div class="dashbox__table-text"><a href="#">The Lost City</a></div>
										</td>
										<td>
											<div class="dashbox__table-text">Movie</div>
										</td>
										<td>
											<div class="dashbox__table-text dashbox__table-text--rate"><i class="ti ti-star"></i> 9.2</div>
										</td>
										<td>
											<div class="dashbox__table-text dashbox__table-text--rate"> 100</div>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- end dashbox -->

				<!-- dashbox -->
				<div class="col-12 col-xl-6">
					<div class="dashbox">
						<div class="dashbox__title">
							<h3><i class="ti ti-movie"></i> Top views</h3>
						</div>

						<div class="dashbox__table-wrap dashbox__table-wrap--2">
							<table class="dashbox__table">
								<thead>
									<tr>
										<th>ID</th>
										<th>ITEM</th>
<!--										<th>CATEGORY</th>-->
										<th>RATING</th>
										<th>VIEW</th>
									</tr>
								</thead>

								<tbody id="view-table">
									<tr>
										<td>
											<div class="dashbox__table-text dashbox__table-text--grey">824</div>
										</td>
										<td>
											<div class="dashbox__table-text"><a href="#">I Dream in Another Language</a></div>
										</td>
										<td>
											<div class="dashbox__table-text">TV Series</div>
										</td>
										<td>
											<div class="dashbox__table-text dashbox__table-text--rate"><i class="ti ti-star"></i> 7.2</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="dashbox__table-text dashbox__table-text--grey">602</div>
										</td>
										<td>
											<div class="dashbox__table-text"><a href="#">Benched</a></div>
										</td>
										<td>
											<div class="dashbox__table-text">Movie</div>
										</td>
										<td>
											<div class="dashbox__table-text dashbox__table-text--rate"><i class="ti ti-star"></i> 6.3</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="dashbox__table-text dashbox__table-text--grey">538</div>
										</td>
										<td>
											<div class="dashbox__table-text"><a href="#">Whitney</a></div>
										</td>
										<td>
											<div class="dashbox__table-text">TV Show</div>
										</td>
										<td>
											<div class="dashbox__table-text dashbox__table-text--rate"><i class="ti ti-star"></i> 8.4</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="dashbox__table-text dashbox__table-text--grey">129</div>
										</td>
										<td>
											<div class="dashbox__table-text"><a href="#">Blindspotting</a></div>
										</td>
										<td>
											<div class="dashbox__table-text">Anime</div>
										</td>
										<td>
											<div class="dashbox__table-text dashbox__table-text--rate"><i class="ti ti-star"></i> 9.0</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="dashbox__table-text dashbox__table-text--grey">360</div>
										</td>
										<td>
											<div class="dashbox__table-text"><a href="#">Another</a></div>
										</td>
										<td>
											<div class="dashbox__table-text">Movie</div>
										</td>
										<td>
											<div class="dashbox__table-text dashbox__table-text--rate"><i class="ti ti-star"></i> 7.7</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- end dashbox -->


			</div>
		</div>
	</main>
	<!-- end main content -->

	<!-- JS -->
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/slimselect.min.js"></script>
	<script src="js/smooth-scrollbar.js"></script>
	<script src="js/admin.js"></script>
<script>
	// Hàm để lấy số liệu từ API dashboard
	async function fetchDashboardData() {
		const token = localStorage.getItem('token'); // Lấy token từ localStorage
		const response = await fetch('http://localhost:8080/api/v1/dashboard', {
			method: 'GET',
			headers: {
				'Authorization': `Bearer ${token}`, // Gửi token trong headers
			},
		});

		if (!response.ok) {
			alert("Please log in with admin account!")
			localStorage.removeItem('token'); // Xóa token nếu có lỗi
			window.location.href = '/signin'; // Chuyển hướng về trang đăng nhập
			return; // Dừng thực hiện hàm
		}

		const data = await response.json(); // Lấy dữ liệu từ phản hồi
		// Cập nhật giao diện với dữ liệu nhận được
		document.querySelector('#total-movies').textContent = data.movies;
		document.querySelector('#total-views').textContent = data.views;
		document.querySelector('#total-rates').textContent = data.rates;
		document.querySelector('#total-users').textContent = data.user;
	}

	// Hàm để lấy số liệu từ API movie
	async function fetchTopRatedMovies() {
		const response = await fetch('http://localhost:8080/api/v1/movie/most-rates/10', {
			method: 'GET',
		});

		if (!response.ok) {
			console.error('Error fetching top rated movies');
			return; // Dừng thực hiện hàm
		}

		const movies = await response.json(); // Lấy dữ liệu từ phản hồi
		const tableBody = document.querySelector('#rate-table');
		tableBody.innerHTML = ''; // Xóa nội dung cũ trong bảng

		movies.forEach(movie => {
			const row = document.createElement('tr'); // Tạo một hàng mới
			row.innerHTML = `
            <td><div class="dashbox__table-text dashbox__table-text--grey">${movie.id}</div></td>
            <td><div class="dashbox__table-text"><a href="#">${movie.name}</a></div></td>
<!--            <td><div class="dashbox__table-text">${movie.category.join(', ')}</div></td>-->
            <td><div class="dashbox__table-text dashbox__table-text--rate"><i class="ti ti-star"></i> ${movie.rate}</div></td>
            <td><div class="dashbox__table-text dashbox__table-text--rate">${movie.view}</div></td>
        `;
			tableBody.appendChild(row); // Thêm hàng mới vào bảng
		});
	}
	async function fetchTopViewMovies() {
		const response = await fetch('http://localhost:8080/api/v1/movie/most-views/10', {
			method: 'GET',
		});

		if (!response.ok) {
			console.error('Error fetching top rated movies');
			return; // Dừng thực hiện hàm
		}

		const movies = await response.json(); // Lấy dữ liệu từ phản hồi
		const tableBody = document.querySelector('#view-table');
		tableBody.innerHTML = ''; // Xóa nội dung cũ trong bảng

		movies.forEach(movie => {
			const row = document.createElement('tr'); // Tạo một hàng mới
			row.innerHTML = `
            <td><div class="dashbox__table-text dashbox__table-text--grey">${movie.id}</div></td>
            <td><div class="dashbox__table-text"><a href="#">${movie.name}</a></div></td>
<!--            <td><div class="dashbox__table-text">${movie.category.join(', ')}</div></td>-->
            <td><div class="dashbox__table-text dashbox__table-text--rate"><i class="ti ti-star"></i> ${movie.rate}</div></td>
            <td><div class="dashbox__table-text dashbox__table-text--rate">${movie.view}</div></td>
        `;
			tableBody.appendChild(row); // Thêm hàng mới vào bảng
		});
	}

	// Gọi các hàm để lấy dữ liệu
	fetchDashboardData();
	fetchTopRatedMovies();
	fetchTopViewMovies();

</script>
</body>


<!-- Mirrored from hotflix.volkovdesign.com/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Oct 2024 14:35:42 GMT -->
</html>