<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/slimselect.css">
	<link rel="stylesheet" href="css/admin.css">
	<script src="../js/logout.js"></script>
	<!-- Icon font -->
	<link rel="stylesheet" href="webfont/tabler-icons.min.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="icon/favicon-32x32.png">

	<meta name="description" content="Online Movies, TV Shows & Cinema HTML Template">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>ReelPlay– Online Movies, TV Shows & Cinema </title>
</head>

<body>
<!-- header -->
<header class="header">
	<div class="header__content">
		<!-- header logo -->
		<a href="index.html" class="header__logo">
			<img src="img/logo.svg" alt="">
		</a>
		<!-- end header logo -->

		<!-- header menu btn -->
		<button class="header__btn" type="button">
			<span></span>
			<span></span>
			<span></span>
		</button>
		<!-- end header menu btn -->
	</div>
</header>
<!-- end header -->

<!-- sidebar -->
<div class="sidebar">
	<!-- sidebar logo -->
	<a href="index.html" class="sidebar__logo">
		<img src="img/logo.svg" alt="">
	</a>
	<!-- end sidebar logo -->

	<!-- sidebar user -->
	<div class="sidebar__user">
		<div class="sidebar__user-img">
			<img src="img/user.svg" alt="">
		</div>

		<div class="sidebar__user-title">
			<span>Admin</span>
		</div>

		<button class="sidebar__user-btn" type="button" onclick="logout()">
			<i class="ti ti-logout"></i>
		</button>
	</div>
	<!-- end sidebar user -->

	<!-- sidebar nav -->
	<div class="sidebar__nav-wrap">
		<ul class="sidebar__nav">
			<li class="sidebar__nav-item">
				<a href="/admin/index" class="sidebar__nav-link"><i class="ti ti-layout-grid"></i> <span>Dashboard</span></a>
			</li>

			<li class="sidebar__nav-item">
				<a href="/admin/movie" class="sidebar__nav-link sidebar__nav-link--active"><i class="ti ti-movie"></i> <span>Movies</span></a>
			</li>

			<li class="sidebar__nav-item">
				<a href="/admin/user" class="sidebar__nav-link"><i class="ti ti-users"></i> <span>Users</span></a>
			</li>

			<li class="sidebar__nav-item">
				<a href="/admin/actor" class="sidebar__nav-link"><i class="ti ti-users-minus"></i> <span>Actors</span></a>
			</li>

			<li class="sidebar__nav-item">
				<a href="/admin/director" class="sidebar__nav-link"><i class="ti ti-users-minus"></i> <span>Directors</span></a>
			</li>
			<li class="sidebar__nav-item">
				<a href="/admin/episode" class="sidebar__nav-link"><i class="ti ti-badge-hd"></i> <span>Episodes</span></a>
			</li>


			<!-- end dropdown -->

			<li class="sidebar__nav-item">
				<a href="/index" class="sidebar__nav-link"><i class="ti ti-arrow-left"></i> <span>Back to ReelPlay</span></a>
			</li>
		</ul>
	</div>
	<!-- end sidebar nav -->

	<!-- sidebar copyright -->
	<!-- end sidebar copyright -->
</div>
	<!-- end sidebar -->

	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<!-- main title -->
				<div class="col-12">
					<div class="main__title">
						<h2>General settings</h2>
					</div>
				</div>
				<!-- end main title -->

				<!-- form -->
				<div class="col-12">
					<form action="#" class="sign__form sign__form--add">
						<div class="row">
							<div class="col-12">
								<h3 class="sign__title">Meta settings</h3>
							</div>

							<div class="col-12 col-lg-4">
								<div class="sign__group">
									<label class="sign__label" for="sitetitle">Title <b>*</b></label>
									<input type="text" class="sign__input" id="sitetitle" value="HotFlix – Online Movies, TV Shows & Cinema HTML Template">
								</div>
							</div>

							<div class="col-12 col-lg-4">
								<div class="sign__group">
									<label class="sign__label" for="semail">Email <b>*</b></label>
									<input type="text" class="sign__input" id="semail">
								</div>
							</div>

							<div class="col-12 col-lg-4">
								<div class="sign__group">
									<label class="sign__label" for="sphone">Phone</label>
									<input type="text" class="sign__input" id="sphone">
								</div>
							</div>

							<div class="col-12">
								<div class="sign__group">
									<label class="sign__label" for="description">Description</label>
									<textarea id="description" name="description" class="sign__textarea"></textarea>
								</div>
							</div>

							<div class="col-12">
								<button type="button" class="sign__btn sign__btn--small"><span>Save</span></button>
							</div>

							<div class="col-12">
								<h3 class="sign__title sign__title--mt">Home page</h3>
							</div>

							<div class="col-12 col-xl-4">
								<div class="sign__group">
									<label class="sign__label">Hero type:</label>
									<ul class="sign__radio">
										<li>
											<input id="hero1" type="radio" name="hero" checked="">
											<label for="hero1">Single carousel</label>
										</li>
										<li>
											<input id="hero2" type="radio" name="hero">
											<label for="hero2">Carousel + bg img</label>
										</li>
										<li>
											<input id="hero3" type="radio" name="hero">
											<label for="hero3">Hero carousel</label>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-12 col-xl-4">
								<div class="sign__group">
									<label class="sign__label">Content type:</label>
									<ul class="sign__radio">
										<li>
											<input id="content1" type="radio" name="content" checked="">
											<label for="content1">Tabs</label>
										</li>
										<li>
											<input id="content2" type="radio" name="content">
											<label for="content2">Pagination</label>
										</li>
										<li>
											<input id="content3" type="radio" name="content">
											<label for="content3">Load more</label>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-12 col-xl-4">
								<div class="sign__group sign__group--checkbox">
									<label class="sign__label">Sections:</label>
									<input id="premieres" name="premieres" type="checkbox" checked="checked">
									<label for="premieres">Show premieres</label>
								</div>

								<div class="sign__group sign__group--checkbox">
									<input id="subscriptions" name="subscriptions" type="checkbox" checked="checked">
									<label for="subscriptions">Show subscriptions</label>
								</div>
							</div>

							<div class="col-12">
								<button type="button" class="sign__btn sign__btn--small"><span>Save</span></button>
							</div>
						</div>
					</form>
				</div>
				<!-- end form -->
			</div>
		</div>
	</main>
	<!-- end main content -->

	<!-- JS -->
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/slimselect.min.js"></script>
	<script src="js/smooth-scrollbar.js"></script>
	<script src="js/admin.js"></script>
</body>

<!-- Mirrored from hotflix.volkovdesign.com/admin/settings.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 01 Oct 2024 14:35:45 GMT -->
</html>