<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/splide.min.css">
	<link rel="stylesheet" href="css/slimselect.css">
	<link rel="stylesheet" href="css/plyr.css">
	<link rel="stylesheet" href="css/photoswipe.css">
	<link rel="stylesheet" href="css/default-skin.css">
	<link rel="stylesheet" href="css/main.css">

	<!-- Icon font -->
	<link rel="stylesheet" href="webfont/tabler-icons.min.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="icon/favicon-32x32.png">

	<meta name="description" content="Online Movies, TV Shows & Cinema HTML Template">
	<meta name="keywords" content="">
	<meta name="author" content="Dmitry Volkov">
	<title>ReelPlay – Online Movies, TV Shows & Cinema HTML Template</title>
</head>

<body>
	<!-- header -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="header__content">
						<!-- header logo -->
						<a href="/index" class="header__logo">
							<img src="img/logo.svg" alt="">
						</a>
						<!-- end header logo -->

						<!-- header nav -->
						<ul class="header__nav">
							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="header__nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Category <i class="ti ti-chevron-down"></i></a>

								<ul class="dropdown-menu header__dropdown-menu">
									<li><a href="/search?q=action&page=1&limit=54">Action</a></li>
									<li><a href="/search?q=adventure&page=1&limit=54">Adventure</a></li>
									<li><a href="/search?q=animation&page=1&limit=54">Animation</a></li>
									<li><a href="/search?q=biography&page=1&limit=54">Biography</a></li>
									<li><a href="/search?q=comedy&page=1&limit=54">Comedy</a></li>
									<li><a href="/search?q=crime&page=1&limit=54">Crime</a></li>
									<li><a href="/search?q=drama&page=1&limit=54">Drama</a></li>
									<li><a href="/search?q=fantasy&page=1&limit=54">Fantasy</a></li>
									<li><a href="/search?q=history&page=1&limit=54">History</a></li>
									<li><a href="/search?q=horror&page=1&limit=54">Horror</a></li>
									<li><a href="/search?q=music&page=1&limit=54">Music</a></li>
									<li><a href="/search?q=mystery&page=1&limit=54">Mystery</a></li>
									<li><a href="/search?q=romance&page=1&limit=54">Romance</a></li>
									<li><a href="/search?q=sci-fi&page=1&limit=54">Sci-Fi</a></li>
									<li><a href="/search?q=sport&page=1&limit=54">Sport</a></li>
									<li><a href="/search?q=thriller&page=1&limit=54">Thriller</a></li>
									<li><a href="/search?q=war&page=1&limit=54">War</a></li>


								</ul>
							</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="header__nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Country <i class="ti ti-chevron-down"></i></a>

								<ul class="dropdown-menu header__dropdown-menu-grid" style="">
									<li><a href="/search?q=usa&page=1&limit=54">USA</a></li>
									<li><a href="/search?q=united+kingdom&page=1&limit=54">United Kingdom</a></li>
									<li><a href="/search?q=south+korea&page=1&limit=54">South Korea</a></li>
									<li><a href="/search?q=china&page=1&limit=54">China</a></li>
									<li><a href="/search?q=japan&page=1&limit=54">Japan</a></li>
									<li><a href="/search?q=india&page=1&limit=54">India</a></li>
									<li><a href="/search?q=france&page=1&limit=54">France</a></li>
									<li><a href="/search?q=germany&page=1&limit=54">Germany</a></li>
									<li><a href="/search?q=canada&page=1&limit=54">Canada</a></li>
									<li><a href="/search?q=turkey&page=1&limit=54">Turkey</a></li>
									<li><a href="/search?q=spain&page=1&limit=54">Spain</a></li>
									<li><a href="/search?q=philippines&page=1&limit=54">Philippines</a></li>
									<li><a href="/search?q=italy&page=1&limit=54">Italy</a></li>
									<li><a href="/search?q=brazil&page=1&limit=54">Brazil</a></li>
									<li><a href="/search?q=russia&page=1&limit=54">Russia</a></li>
									<li><a href="/search?q=australia&page=1&limit=54">Australia</a></li>
									<li><a href="/search?q=hong+kong&page=1&limit=54">Hong Kong</a></li>
									<li><a href="/search?q=thailand&page=1&limit=54">Thailand</a></li>
									<li><a href="/search?q=portugal&page=1&limit=54">Portugal</a></li>
									<li><a href="/search?q=poland&page=1&limit=54">Poland</a></li>
									<li><a href="/search?q=netherlands&page=1&limit=54">Netherlands</a></li>
									<li><a href="/search?q=denmark&page=1&limit=54">Denmark</a></li>
									<li><a href="/search?q=norway&page=1&limit=54">Norway</a></li>
									<li><a href="/search?q=ukraine&page=1&limit=54">Ukraine</a></li>
									<li><a href="/search?q=taiwan&page=1&limit=54">Taiwan</a></li>
									<li><a href="/search?q=other+country&page=1&limit=54">Other country</a></li>


								</ul>
							</li>
							<!-- end dropdown -->

							<li class="header__nav-item">
								<a href="/new-movie" class="header__nav-link">New movies</a>
							</li>

							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="header__nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages <i class="ti ti-chevron-down"></i></a>

								<ul class="dropdown-menu header__dropdown-menu">
									<li><a href="/about">About Us</a></li>
									<li><a href="/contacts">Contacts</a></li>
									<li><a href="/faq">Help center</a></li>
									<li><a href="/privacy">Privacy policy</a></li>
								</ul>
							</li>
							<!-- end dropdown -->

							<!-- dropdown -->
							<li class="header__nav-item">
								<a class="header__nav-link header__nav-link--more" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="ti ti-dots"></i></a>

								<ul class="dropdown-menu header__dropdown-menu">
									<li><a href="/new-feature">Feature Film</a></li>
									<li><a href="/new-series">New Series</a></li>
								</ul>
							</li>
							<!-- end dropdown -->
						</ul>
						<!-- end header nav -->

						<!-- header auth -->
						<div class="header__auth">
							<form action="#" class="header__search">
								<input class="header__search-input" id="search-input" type="text" placeholder="Search...">
								<button class="header__search-button" type="button" id="search-btn">
									<i class="ti ti-search"></i>
								</button>
								<button class="header__search-close" type="button">
									<i class="ti ti-x"></i>
								</button>
							</form>


							<button class="header__search-btn" type="button">
								<i class="ti ti-search"></i>
							</button>

							<div class="header__profile">
								<a href="#" class="header__sign-in header__sign-in--user" role="button" id="profileLink">
									<i class="ti ti-user"></i>
									<span id="profileText">SIGN IN</span>
								</a>
							</div>
							<!-- end dropdown -->
						</div>
						<!-- end header auth -->

					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- end header -->

	<!-- page title -->
	<section class="section section--first">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<!-- section title -->
						<h1 class="section__title section__title--head">Contacts</h1>
						<!-- end section title -->

						<!-- breadcrumbs -->
						<ul class="breadcrumbs">
							<li class="breadcrumbs__item"><a href="index.html">Home</a></li>
							<li class="breadcrumbs__item breadcrumbs__item--active">Contacts</li>
						</ul>
						<!-- end breadcrumbs -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->

	<!-- contacts -->
	<section class="section">
		<div class="container">
			<div class="row">

				<div class="col-12 ">
					<div class="row">
						<!-- contacts -->
						<div class="col-12">
							<h2 class="section__title section__title--mt">Get In Touch</h2>

							<p class="section__text">We are always happy to help and provide more information about our services. You can contact us through email, phone, or by filling out the form on our website. Thank you for considering us!</p>

							<ul class="contacts__list">
								<li><a href="tel:+84913452520">+84 913 452 520</a></li>
								<li><a href="mailto:votrungquan2002@gmail.com">votrungquan2002@gmail.com</a></li>
							</ul>

							<div class="contacts__social">
								<a href="https://facebook.com/accbin1"><i class="ti ti-brand-facebook"></i></a>
								<a href="https://x.com/n21dccn068"><i class="ti ti-brand-x"></i></a>
							</div>
						</div>
						<!-- end contacts -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end contacts -->

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer__content">
						<a href="/index" class="footer__logo">
							<img src="img/logo.svg" alt="">
						</a>


						<nav class="footer__nav">
							<a href="/about">About Us</a>
							<a href="/contacts">Contacts</a>
							<a href="/privacy">Privacy policy</a>
						</nav>

						<button class="footer__back" type="button">
							<i class="ti ti-arrow-narrow-up"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end footer -->

	<!-- JS -->
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/splide.min.js"></script>
	<script src="js/slimselect.min.js"></script>
	<script src="js/smooth-scrollbar.js"></script>
	<script src="js/plyr.min.js"></script>
	<script src="js/photoswipe.min.js"></script>
	<script src="js/photoswipe-ui-default.min.js"></script>
	<script src="js/main.js"></script>
	<script>
		const token = localStorage.getItem('token');
		const profileLink = document.getElementById('profileLink');
		const profileText = document.getElementById('profileText');

		if (token) {
			// Nếu có token, thay đổi liên kết thành trang profile và hiển thị 'PROFILE'
			profileLink.href = '/profile';
			profileText.textContent = 'PROFILE';
		} else {
			// Nếu không có token, dẫn đến trang đăng nhập và hiển thị 'SIGN IN'
			profileLink.href = '/signin';
			profileText.textContent = 'SIGN IN';
		}
		document.addEventListener('DOMContentLoaded', function() {
			const searchBtn = document.getElementById('search-btn');
			const searchInput = document.getElementById('search-input');

			// Sự kiện khi người dùng nhấn nút tìm kiếm
			searchBtn.addEventListener('click', function() {
				const query = searchInput.value.trim(); // Lấy giá trị từ input

				if (query === '') {
					alert('Please enter a search term');
					return;
				}

				const page = 1;
				const limit = 18;

				// Tạo URL với query parameters
				const searchUrl = `/search?q=${encodeURIComponent(query)}&page=${page}&limit=${limit}`;

				// Chuyển hướng đến trang kết quả tìm kiếm
				window.location.href = searchUrl;
			});
		});
	</script>
</body>

</html>